.venv/
venv/
.env
*.env
*.m4a
*.mp3
*.wav
.DS_Store
__pycache__/
*.pyc

# Fichiers d'entrée et de sessions
input/sessions/*.wav
input/sessions/*.json
input/*.wav
input/*.mp3

# Fichiers temporaires / IDE
.DS_Store
.idea/
*.log
input/sessions/