.venv/
venv/
.env
*.env
*.m4a
*.mp3
*.wav
.DS_Store
__pycache__/
*.pyc

# Fichiers d'entrée et de sessions
input/sessions/*.wav
input/sessions/*.json
input/*.wav
input/*.mp3
.input/

# Fichiers temporaires / IDE
.DS_Store
.idea/
*.log
*.logs
input/sessions/

# Pour les fichiers de logs ou caches côté backend
logs/
tmp/
temp/

# Pour le frontend / Node.js (si tu as un frontend JS/TS)
node_modules/
dist/
build/
.vite/
.cache/
*.tsbuildinfo